<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/couponManager.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <!-- <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script> -->
</head>

<body>
    <div id="menu">내 쿠폰
    </div>
    <div id="all_coupon_div">
        <button id="make_coupon">쿠폰 생성</button>

        <div class="my_coupon_list">
            <% if(results1) { %>
              <% for(var i=0; i<results1.length; i++) { %>
            <div class="my_coupon">
                <div class="store_and_market">
                    <div class="store_name"><%= results1[i].market_name %></div>
                    <div class="market_name"><%= results1[i].sijang_name %></div>
                </div>
                <div class="sale_price">
                    <%= results1[i].coupon_reward %>
                </div>
                <div class="standard">
                    <%= results1[i].coupon_standard %>
                </div>
                <div class="period">
                    <%= results1[i].coupon_due_date %>
                </div>
            </div>
            <% } %>
            <% } else { %>
              <div class='stamp_list'>
                <div id="no_stamp">발급받은 쿠폰이 없습니다.</div>
              </div>
              <% } %>
        </div>
    </div>





    <div id="make_coupon_div">
        <label>할인 금액</label>
        <select class="coupon_reward" name="coupon_reward">
            <option>1000원 할인</option>
            <option>1500원 할인</option>
            <option>2000원 할인</option>
            <option>3000원 할인</option>
        </select>
        <br/>
        <label>사용 기준</label>
        <input type="text" id="coupon_standard" placeholder="ex)5000원 이상 구매 시">
        <br/>
        <label>사용 기한</label>
        <input type="text" id="coupon_due_date" placeholder="ex)18-08-20">
        <br/>
        <label>쿠폰 비밀번호</label>
        <input type="password" id="coupon_password" placeholder="쿠폰비밀번호입력(4자리)">
        <br/>
        <button id="cancel">취소</button>
        <button id="coupon_make_button">생성</button>
    </div>


    <div id="nav_sj">
            <div id="home">
                <img src="/images/home.png" width="55%">
                <br/>홈</div>
            <div id="coupon_sj">
                <img src="/images/coupon.png" width="55%">
                <br/>쿠폰</div>
            <div id="myStamp_sj">
                <img src="/images/stamp.png" width="55%">
                <br/>스탬프</div>
            <div id="mystore_sj">
                <img src="/images/store.png" width="55%">
                <br/>내 상점</div>
            <div id="mypage_sj">
                <img src="/images/my.png" width="55%">
                <br/>Mypage</div>
        </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
<script>

    $('#go_my_coupon').click(function () {
        $('#coupon_view').hide(200);
        $('.my_coupon').show(200);
    })
    $('#go_coupon_view').click(function () {
        $('#coupon_view').show(200);
        $('.my_coupon').hide(200);
    })
    $('#mystore_sj').click(function () {
        location.href = "/mystore";
    })
    $('#home_sj').click(function () {
        location.href = "/main";
    })
    $('#myStamp_sj').click(function () {
        location.href = "/mystampManager";
    })
    var swiper = new Swiper('.swiper-container');

    $('#make_coupon').click(function () {
        $('#all_coupon_div').hide(200);
        $('#make_coupon_div').show(200);
    })
    $('#cancel').click(function () {
        $('#make_coupon_div').hide(200);
        $('#all_coupon_div').show(200);
    })
    $('#home').click(function(){
        location.href='/mainManager';
    })
    $('#mystore_sj').click(function(){
        location.href='/mystore';
    })
    $('#coupon_make_button').click(function(){
      var manager_id = '<%= results[0].manager_id %>';
      var sijang_name = '<%= results[0].sijang_name %>';
      var market_name = '<%= results[0].market_name %>';
      var coupon_standard = $('#coupon_standard').val();
      var coupon_due_date = $('#coupon_due_date').val();
      var coupon_password = $('#coupon_password').val();
      var test = document.getElementsByClassName('coupon_reward');
      var scr = test[0].selectedIndex;
      var coupon_reward;
      if(scr == 0){
        coupon_reward = 1000;
      }else if(scr == 1){
        coupon_reward = 1500;
      }if(scr == 2){
        coupon_reward = 2000;
      }else if(scr == 3){
        coupon_reward = 3000;
      }

      var data = {
        'manager_id' : manager_id,
        'sijang_name' : sijang_name,
        'market_name' : market_name,
        'coupon_standard' : coupon_standard,
        'coupon_due_date' : coupon_due_date,
        'coupon_password' : coupon_password,
        'coupon_reward' : coupon_reward
      }
      console.log(data);

      $.ajax({
        type: "POST",
        url: "/couponManager",
        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        cache: false,
        datatype: "json",
        data: data,
        success: function (result) {
          if (result['result'] == 'success') {
            alert("쿠폰 등록");
            location.reload();
          }
          else {
            alert('쿠폰등록실패1');
            location.reload();
          }
        },
        error: function (error) {
          alert('쿠폰등록실패2');
        }
      });
    })


</script>

</html>
