<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/coupon.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <!-- <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false); -->
    </script>
</head>

<body>
    <div id="menu">
        <div id="go_my_coupon">내 쿠폰</div>
        <div id="go_coupon_view">쿠폰 보기</div>
    </div>


    <div id="coupon_view">
        <h2 id="good_market_list">
            내가 가는 시장들
        </h2>


      <% if(result2) { %>
        <% var count =0; %>
        <% for(var j=0; j<result2.length; j++) { %>
          <% for(var k=j ;k<result2.length; k++) { %>
            <% if(result2[j].sijang_name == result2[k].sijang_name) { %>
              <% count++; %>
              <% } %>
        <% } %>
        <% if(count == 1) { %>
          <div class="market" name="sijang_name">
              <p><%= result2[j].sijang_name %></p>
          </div>
        <% } %>
        <% count =0; %>
        <% } %>
       <% } else { %>
            <p>비어있음</p>
        <% } %>

        <h2 id="near_market_list">
            주변 시장들
        </h2>

        <div class="market">
            <p>통인 시장</p>
        </div>
        <div class="market">
            <p>서울관광 시장</p>
        </div>
        <div class="market">
            <p>모란 시장</p>
        </div>
    </div>

    <div class="find_coupon_list">

        <div class="find_coupon">
            <div class="store_and_market">
                <div class="store_name">a현이네 과일가게</div>
                <div class="market_name">a인시장</div>
            </div>
            <div class="sale_price">
                1000원 할인
            </div>
            <div class="standard">
                5000원 이상 구매 시
            </div>
            <div class="period">
                기간:~18.8.20
            </div>
        </div>

        <div class="find_coupon">
            <div class="store_and_market">
                <div class="store_name">b이네 정육점</div>
                <div class="market_name">b인시장</div>
            </div>
            <div class="sale_price">
                2000원 할인
            </div>
            <div class="standard">
                10000원 이상 구매 시
            </div>
            <div class="period">
                기간:~18.8.22
            </div>
        </div>

        <div class="find_coupon">
            <div class="store_and_market">
                <div class="store_name">c현이네 과일가게</div>
                <div class="market_name">c인시장</div>
            </div>
            <div class="sale_price">
                1000원 할인
            </div>
            <div class="standard">
                5000원 이상 구매 시
            </div>
            <div class="period">
                기간:~18.8.20
            </div>
        </div>

        <div class="find_coupon">
            <div class="store_and_market">
                <div class="store_name">d이네 정육점</div>
                <div class="market_name">d인시장</div>
            </div>
            <div class="sale_price">
                2000원 할인
            </div>
            <div class="standard">
                10000원 이상 구매 시
            </div>
            <div class="period">
                기간:~18.8.22
            </div>
        </div>

        <div class="find_coupon">
            <div class="store_and_market">
                <div class="store_name">e현이네 과일가게</div>
                <div class="market_name">e인시장</div>
            </div>
            <div class="sale_price">
                1000원 할인
            </div>
            <div class="standard">
                5000원 이상 구매 시
            </div>
            <div class="period">
                기간:~18.8.20
            </div>
        </div>


    </div>


    <div class="my_coupon">
      <% if(result1) { %>
        <% for(var i=0; i<result1.length; i++) { %>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide content">
                    <div class="store_and_market">
                        <div class="store_name"><%= result1[i].market_name %></div>
                        <div class="market_name"><%= result1[i].sijang_name %></div>
                    </div>
                    <div class="sale_price">
                        <%= result1[i].coupon_reward %>
                    </div>
                    <div class="standard">
                        <%= result1[i].coupon_standard %>
                    </div>
                    <div class="period">
                        <%= result1[i].coupon_due_date %>
                    </div>
                </div>
                <div class="swiper-slide menu">삭제</div>
            </div>
            <% } %>
            <% } else { %>
              <div class='stamp_list'>
                <div id="no_stamp">발급받은 쿠폰이 없습니다.</div>
              </div>
              <% } %>
        </div>

    </div>



    <div id="nav_sj">
        <div id="home_sj">
            <img src="/images/home.png" width="40%">
            <p>홈</p>
        </div>
        <div id="coupon_sj">
            <img src="/images/coupon2.png" width="40%">
            <p id="nav_text">쿠폰</p>
        </div>
        <div id="location_sj">
            <img src="/images/location.png" width="40%">
            <p>주변 가맹점</p>
        </div>
        <div id="myStamp_sj">
            <img src="/images/stamp.png" width="40%">
            <p>내 스탬프</p>
        </div>
        <div id="my_sj">
            <img src="/images/my.png" width="40%">
            <p>MyPage</p>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
<script>

    $('#go_my_coupon').click(function () {
        $('#coupon_view').hide(200);
        $('.my_coupon').show(200);
    })
    $('#go_coupon_view').click(function () {
        $('#coupon_view').show(200);
        $('.my_coupon').hide(200);
    })
    $('#myStamp_sj').click(function () {
        location.href = "/myStamp";
    })
    $('#home_sj').click(function () {
        location.href = "/main";
    })
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        initialSlide: 0,
        resistanceRatio: 0.5,
        slideToClickedSlide: true,
    });
    var index = -1;
    var next_index = 0;
    $('.market').click(function () {
        next_index = $(this).index();
        if (index != next_index) {
            $('.market:eq(index)').children('div').remove();
            $('.find_coupon_list').fadeIn(100);
            $(this).append($('.find_coupon_list'));
            index = $(this).index();
        }
        else {
            $('.find_coupon_list').fadeOut(100);
            index=-1;
        }

    })
    $('.find_coupon').click(function () {
        var index = $(this).index();
        down();
        function down() {
            if (confirm(index + '번째 쿠폰을 다운로드 하시겠습니까?')) {
                alert(index + '번째 쿠폰 다운로드 완료')
            } else {
                // no click
            }
        }
    })



</script>

</html>
