<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/couponManager.css" />
    <!-- <link rel="stylesheet" href="/stylesheets/swiper.min.css"> -->
    <!-- <script src='/cordova/cordova.js'></script>
    <script src='/cordova/cordova_plugins.js'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="/javascripts/spin.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <!-- <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script> -->
</head>

<body>
        <div class="alert_x" style="display:none">
                <div class="alert_x_content">
                  <div class="alert_image">
                    <img src="/images/alert_x.png" width="70px" height="70px" > 
                  </div> 
                  <div class="alert_content">
                  </div>
                </div>
              </div>
              
              <div class="alert_o" style="display:none">
                  <div class="alert_o_content">
                    <div class="alert_image">
                      <img src="/images/alert_o.png" width="70px" height="70px" > 
                    </div> 
                    <div class="alert_content">
                    </div>
                  </div>
                </div>
              
                  <div class="alert_select"  style="display:none">
                      <div class="alert_o_content">
                        <div class="alert_content_select">
                        </div>
                        <div class="alert_select_cancel">
                          취소
                        </div>
                        <div class="alert_select_ok">
                            확인
                          </div>
                      </div>
                    </div>
    <div id="all_coupon_div">
        <div id="make_coupon_button">
            <button id="make_coupon">새로운 쿠폰 생성</button>
        </div>


            <div class="my_coupon_list">
                <% if(results1) { %>
                    <% for(var i=0; i<results1.length; i++) { %>
                        <div class="my_coupon">
                            <div class="store_and_market_L">
                                <div class="store_name">
                                    <%= results1[i].market_name %>
                                </div>
                                <div class="period">
                                        선착순 :<%= results1[i].coupon_count %>
                                    </div>
                              
                            </div>
                            <div class="standard">
                                <%= results1[i].coupon_standard %>
                            </div>
                            <div class="sale_price">
                                <%= results1[i].coupon_reward %>원 할인
                            </div>
                            <div class="coupon_bottom">
                                <div class="market_name">
                                    <%= results1[i].sijang_name %>
                                </div>
                                <div class="logo_image">
                                    <img src="/images/inline-logo.png" width="75%" height="auto" style="padding-top: 12%;padding-left: 8%;">
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } else { %>
                                <div class='stamp_list'>
                                    <div id="no_stamp">발급 한 쿠폰이 없습니다.</div>
                                </div>
                                <% } %>


        </div>
    </div>


    <div id="make_coupon_div">


            <div id="make_coupon_form">
                    <div class="inputLine">
                        <img class="check_input" src="/images/check.png" width="24px" height="24px">
                        <p class="name">할인금액</p>
                        <select class="coupon_reward" name="coupon_reward">
                            <option value="0">선택</option>
                            <option>1000원 할인</option>
                            <option>1500원 할인</option>
                            <option>2000원 할인</option>
                            <option>3000원 할인</option>
                        </select>
                    </div>
                    <div class="inputLine">
                        <img class="check_input" src="/images/check.png" width="24px" height="24px">
                        <p class="name">사용기준</p>
                        <input class="input_content" type="text" id="coupon_standard" placeholder="ex)5000원 이상 구매시">
                    </div>
                    <div class="inputLine">
                        <img class="check_input" src="/images/check.png" width="24px" height="24px">
                        <p class="name">선착순</p>
                        <select id="people_number" name="coupon_reward" class="coupon_count">
                            <option value="0">선택</option>
                            <option>30명</option>
                            <option>50명</option>
                            <option>100명</option>
                            <option>200명</option>
                            <option>300명</option>
                        </select>
                    </div>
                    <div class="inputLine">
                        <img class="check_input" src="/images/check.png" width="24px" height="24px">
                        <p class="name">쿠폰비밀번호</p>
                        <input class="input_content" id="coupon_password" type="password" maxlength="4" id="stamp_password" placeholder="ex)1234">
                    </div>
                      
                </div>

                <div class="coupon_ment">쿠폰은 선착순 마감 후에만 삭제 됩니다.</div> 



        <div id="myStamp">
            <div id="store_market_name">
                <p id="nameing" style="width: 70%">
                    <%= results[0].market_name %>
                </p>
                <p id="password" style="width: 30%"></p>
                <!-- </div> -->
            </div>
            <div class="my_stamp_count">
                <div class="stamp_count_vertical">
                    <p class="standard_coupon">
                    </p>
                    <p class="reward_coupon">
                    </p>
                </div>
            </div>
            <div class="coupon_bottom">
                <div class="deadline">
                </div>
                <div class="logo_image">
                    <img src="/images/inline-logo.png" width="75%" height="auto" style="padding-top: 12%;padding-left: 8%;">
                </div>
            </div>
        </div>



    <button id="cancel">취소</button>
    <button id="coupon_make_button">생성</button>
    </div>

    <div id="nav_sj">
        <div id="home">
            <img src="/images/home.png" width="40%">
            <p>홈</p>
        </div>
        <div id="coupon_sj">
            <img src="/images/coupon2.png" width="40%">
            <p id="nav_text">쿠폰</p>
        </div>
        <div id="myStamp_sj">
            <img src="/images/stamp.png" width="40%">
            <p>스탬프</p>
        </div>
        <div id="mystore_sj">
            <img src="/images/mystore.png" width="40%">
            <p>내 상점</p>
        </div>
        <div id="logout">
            <img src="/images/logout.png" width="40%">
            <p>로그아웃</p>
        </div>
    </div>
</body>
<!-- <script src="/javascripts/swiper.min.js"></script> -->
<script>
    var password_number=/^[0-9]{4}$/;
    $('#go_my_coupon').click(function () {
        $('#coupon_view').hide(200);
        $('.my_coupon').show(200);
    })
    $('#go_coupon_view').click(function () {
        $('#coupon_view').show(200);
        $('.my_coupon').hide(200);
    })
    $('#mystore_sj').click(function () {
        location.href = "/mystore";
    })
    $('#home_sj').click(function () {
        location.href = "/main";
    })
    $('#myStamp_sj').click(function () {
        location.href = "/mystampManager";
    })
        $('#logout').click(function () {
            $('.alert_select').css('display', 'block');
            $('.alert_content_select').html('로그아웃 하시겠습니까?')
            $('.alert_select_ok').click(function () {
                $('.alert_select').css('display', 'none');
                $(location).attr('href', '/logoutmanager');
            })
        })
    $('select:eq(0)').change(function () {
        if ($(this).val() == '0') {
            $('.check_input:eq(0)').css('visibility', 'hidden');
            $('.reward_coupon').html("")
        }
        else {
            $('.check_input:eq(0)').css('visibility', 'visible');
            var value3 = $(".coupon_reward option:selected").val();
            $('.reward_coupon').html(value3)
        }
    });
    $('select:eq(1)').change(function () {
        if ($(this).val() == '0') {
            $('.check_input:eq(2)').css('visibility', 'hidden');
            $('.deadline').html("")
        }
        else {
            $('.check_input:eq(2)').css('visibility', 'visible');
            var value4 = $("#people_number option:selected").val();
            $('.deadline').html('선착순 : ' + value4)
        }
    });
    $('input:eq(0)').change(function () {
        var value = $(this).val()
        if(!value==''){
        $('.check_input:eq(1)').css('visibility', 'visible');
        
        $('.standard_coupon').html(value);
        }
        else{
            $('.check_input:eq(1)').css('visibility', 'hidden');
            $('.standard_coupon').html(value);
        }
    });
    $('input:eq(1)').change(function () {
        var password_L = $(this).val();
        var true_or_false = password_number.test(password_L);
        if(true_or_false){
            $('.check_input:eq(3)').css('visibility', 'visible');
            $('#password').html('****')
        }
        else{
            $('.alert_x').css('display', 'block');
            $('.alert_content').html('4자리 숫자로 입력해주세요.')
            $(this).val('')
            $('#password').html('')
            $('.check_input:eq(3)').css('visibility', 'hidden')
        }
    });
    $('#make_coupon').click(function () {
        $('#all_coupon_div').css('display', 'none');
        $('#make_coupon_div').css('display', 'block');
    })
    $('#cancel').click(function () {
        $('#make_coupon_div').css('display', 'none');
        $('#all_coupon_div').css('display', 'block');
    })
    $('#home').click(function () {
        location.href = '/mainManager';
    })
    $('#mystore_sj').click(function () {
        location.href = '/mystore';
    })
    $('#coupon_make_button').click(function () {
        var signcount = 0;
            for (var i = 0; i < 4; i++) {
                if ($('.check_input').eq(i).css('visibility') == 'visible') {
                    signcount++;
                }
                else {
                    continue;
                }
            }
            if (signcount == 4) {
        var manager_id = '<%= results[0].manager_id %>';
        var sijang_name = '<%= results[0].sijang_name %>';
        var market_name = '<%= results[0].market_name %>';
        var coupon_standard = $('#coupon_standard').val();
        var coupon_password = $('#coupon_password').val();
        var test = document.getElementsByClassName('coupon_reward');
        var scr = test[0].selectedIndex;
        var coupon_reward;
        if (scr == 1) {
            coupon_reward = 1000;
        } else if (scr == 2) {
            coupon_reward = 1500;
        } else if (scr == 3) {
            coupon_reward = 2000;
        } else {
            coupon_reward = 3000;
        }
        var test1 = document.getElementsByClassName("coupon_count");
        var src = test1[0].selectedIndex;
        var coupon_count;
        if (src == 1) {
            coupon_count = 30;
        } else if (src == 2) {
            coupon_count = 50;
        } else if (src == 3) {
            coupon_count = 100;
        } else if (src == 4) {
            coupon_count = 200;
        } else {
            coupon_count = 300;
        }
        var data = {
            'manager_id': manager_id,
            'sijang_name': sijang_name,
            'market_name': market_name,
            'coupon_standard': coupon_standard,
            'coupon_count': coupon_count,
            'coupon_password': coupon_password,
            'coupon_reward': coupon_reward
        }
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/couponManager",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            datatype: "json",
            data: data,
            success: function (result) {
                if (result['result'] == 'success') {
                    $('.alert_o').css('display','block');
                    $('.alert_content').html('쿠폰 등록이 완료되었습니다.')
                    $('.alert_o').click(function(){
                    location.reload();
                    });
                }
                else if (result['result'] == 'fail') {
                    $('.alert_x').css('display', 'block');
                    $('.alert_content').html('이미 쿠폰이 존재합니다.')
                }else {
                  alert('couponManager.ejs에서 확인해봐야함');
                  location.reload();
                }
            },
            error: function (error) {
                alert('couponManager.ejs에서 확인해봐야함');
            }
        });
    }
    else{
        $('.alert_x').css('display', 'block');
        $('.alert_content').html('쿠폰 입력을 모두 해주세요.')
    }
    })
        $('.alert_x').click(function () {
            $(this).css('display', 'none')
        })
        $('.alert_o').click(function () {
            $(this).css('display', 'none')
        })
        $('.alert_select_cancel').click(function () {
            $('.alert_select').css('display', 'none')
        })
</script>

</html>