<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/coupon.css" />
    <link rel="stylesheet" href="/stylesheets/swiper.min.css">
    <script src='/cordova/cordova.js'></script>
    <script src='/cordova/cordova_plugins.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="/javascripts/spin.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <!-- <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false); -->
    <!-- </script> -->
</head>

<script>
  document.addEventListener("backbutton", onBackKeyDown, false);
  function onBackKeyDown(e) {
    e.preventDefault();
      $('.alert_out').css('display', 'block');
      $('.alert_content_select').html('앱을 종료하시겠습니까?')
      $('.alert_select_ok_out').click(function () {
       navigator.app.exitApp();
      });
  }
</script>

<body>
  <div class="alert_x" style="display:none">
    <div class="alert_x_content">
      <div class="alert_image">
        <img src="/images/alert_x.png" width="70px" height="70px" >
      </div>
      <div class="alert_content">
      </div>
    </div>
  </div>

  <div class="alert_o" style="display:none">
      <div class="alert_o_content">
        <div class="alert_image">
          <img src="/images/alert_o.png" width="70px" height="70px" >
        </div>
        <div class="alert_content">
        </div>
      </div>
    </div>
    <div class="alert_gps"  style="display:none">
        <div class="alert_o_content">
          <div class="alert_content_select_gps">
          </div>
          <div class="alert_select_cancel_gps">
            취소
          </div>
          <div class="alert_select_ok_gps">
              재시도
            </div>
        </div>
      </div>

      <div class="alert_select"  style="display:none">
          <div class="alert_o_content">
            <div class="alert_content_select">
            </div>
            <div class="alert_select_cancel">
              취소
            </div>
            <div class="alert_select_ok">
                확인
              </div>
          </div>
        </div>
        <div class="alert_out"  style="display:none">
            <div class="alert_o_content">
              <div class="alert_content_select">
              </div>
              <div class="alert_select_cancel">
                취소
              </div>
              <div class="alert_select_ok_out">
                  확인
                </div>
            </div>
          </div>


    <div id="menu">
        <div id="go_my_coupon">내 쿠폰</div>
        <div id="go_coupon_view">쿠폰 보기</div>
    </div>


    <div id="coupon_view">
    <div class="coupon_ment">시장 선택 후 원하는 쿠폰을 클릭하여 다운받아보세요.</div>
        <div class="content_title">
            내가 가는 시장들
        </div>



        <% if(result2) { %>
          <% var count =0; %>
          <% for(var j=0; j<result2.length; j++) { %>
            <% for(var k=j ;k<result2.length; k++) { %>
              <% if(result2[j].sijang_name == result2[k].sijang_name) { %>
                <% count++; %>
                <% } %>
          <% } %>
          <% if(count == 1) { %>
            <% for(var x = 0; x <img_result.length; x++) {%>
              <% if(result2[j].sijang_name == img_result[x].name ) {%>
            <div class="market" id="market_name_id"name="sijang_name">
              <% if(img_result[x].imgurl != "") {%>
                <div class="market_image" style="background: url('<%= img_result[x].imgurl %>');background-repeat: no-repeat; background-position: center center; background-size: 155%;"></div>
                <% } else { %>
                  <div class="market_image" style="background: url('/images/manager_sample (1).jpg');background-repeat: no-repeat; background-position: center center; background-size: 155%;"></div>
                  <% } %>
                <p id="click_coupon" class="click_coupon"value="<%= result2[j].sijang_name %>"><%= result2[j].sijang_name %></p>
                <img class="gray_button"src="/images/down-arrow.png" width="20px" height="20px">
                <img class="blue_button"src="/images/down-arrow-blue.png" width="20px" height="20px" style="display: none">
              </div>
                  <% } %>
                <% } %>
                <% if(cou_result) {%>
                <% } %>
          <% } %>
          <% count =0; %>
          <% } %>
         <% } else { %>
              <!-- <p>비어있음</p> -->
          <% } %>



        <div class="content_title">주변 시장들</div>

    </div>

    <div class="my_coupon">
      <div class="coupon_ment">쿠폰을 옆으로 밀면 삭제/클릭 하시면 사용할 수 있습니다.</div>
        <% if(result1) { %>
            <% for(var i=0; i<result1.length; i++) { %>
                <div class="swiper-container" id='swiper-container<%= result1[i].id %>'>
                    <div class="swiper-wrapper" id='swiper-wrapper<%= result1[i].id %>'>
                        <div class="swiper-slide content" id='swiper-slide-content<%= result1[i].id %>'>
                            <div class="store_and_market" id='store_and_market<%= result1[i].id %>'>
                                <div class="store_name" id='store_name<%= result1[i].id %>'>
                                    <%= result1[i].market_name %>
                                </div>
                            </div>
                            <div class="standard" id='standard<%= result1[i].id %>'>
                              <%= result1[i].coupon_standard %>
                            </div>
                            <div class="sale_price" id='sale_price<%= result1[i].id %>'>
                                <%= result1[i].coupon_reward %>
                            </div>
                            <div class="coupon_bottom" id='coupon_bottom<%= result1[i].id %>'>
                                <div class="market_name" id='market_name<%= result1[i].id %>'>
                                    <%= result1[i].sijang_name %>
                                </div>
                                    <div class="logo_image">
                                        <img src="/images/inline-logo.png" width="75%" height="auto" style="padding-top: 12%;padding-left: 8%;">
                                    </div>
                                </div>
                        </div>
                        <div class="swiper-slide menu" id='swiper-slide-menu<%= result1[i].id %>'>삭제</div>
                    </div>
                </div>
                    <!-- <div class="swiper-pagination"></div> -->
                    <div class='password_number_div_sj' id="password_number_div_sj<%= result1[i].id %>">
                        <div class="password_check" id="password_check<%= result1[i].id %>">
                            <div class="check<%= result1[i].id %>"></div>
                            <div class="check<%= result1[i].id %>"></div>
                            <div class="check<%= result1[i].id %>"></div>
                            <div class="check<%= result1[i].id %>"></div>
                          </div>
                      <div class="password_line_sj <%= result1[i].id %>">
                        <div class="password_number_sj <%= result1[i].id %>"></div>
                        <div class="password_number_sj <%= result1[i].id %>"></div>
                        <div class="password_number_sj <%= result1[i].id %>"></div>
                      </div>
                      <div class="password_line_sj <%= result1[i].id %>">
                        <div class="password_number_sj <%= result1[i].id %>"></div>
                        <div class="password_number_sj <%= result1[i].id %>"></div>
                        <div class="password_number_sj <%= result1[i].id %>"></div>
                      </div>
                      <div class="password_line_sj <%= result1[i].id %>">
                        <div class="password_number_sj <%= result1[i].id %>"></div>
                        <div class="password_number_sj <%= result1[i].id %>"></div>
                        <div class="password_number_sj <%= result1[i].id %>"></div>
                      </div>
                      <div class="password_line_sj <%= result1[i].id %>">
                        <div class='password_cancel' id="password_cancel<%= result1[i].id %>">취소</div>
                        <div class="password_number_sj <%= result1[i].id %>"></div>
                        <div class='password_back' id="password_ok<%= result1[i].id %>">
                          <img src="/images/left-arrow.png" width="22px" height="22px" style="padding-top: 36px;">
                        </div>
                      </div>
                    </div>
                    <script>
                      /* 비밀번호 키패드 섞는 함수 */
                      var password_number_array_sj = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0'];
                      function shuffle(a) {
                        var j, x, i;
                        for (i = a.length; i; i -= 1) {
                          j = Math.floor(Math.random() * i);
                          x = a[i - 1];
                          a[i - 1] = a[j];
                          a[j] = x;
                        }
                      }
                      /*  쿠폰 클릭했을 때  */
                      $('#swiper-slide-content<%= result1[i].id %>').click(function() {
                        shuffle(password_number_array_sj);
                        for (var i = 0; i < 10; i++) {
                          document.getElementsByClassName('password_number_sj <%= result1[i].id %>')[i].innerHTML = password_number_array_sj[i];
                         }
                        $('#swiper-slide-content<%= result1[i].id %>').css('display','none');
                        $('#swiper-slide-menu<%= result1[i].id %>').css('display','none');
                        $('.swiper-container').css('display', 'none');
                        $('.swiper-pagination').css('display','none');
                        $('#password_number_div_sj<%= result1[i].id %>').css('display','block');
                        /*  키패드 번호 클릭 시  */
                        var count = 0;
                        // var result = 1;
                        var number1 = "";
                        $('.password_back').click(function(){
                          if(!count==0){
                          number1 = number1.slice(0,-1);
                          count--;
                          $('.check<%= result1[i].id %>').eq(count).html('')
                          }
                        })
                        $('.password_number_sj').off().on('click',function(){
                          number1 += $(this).html();
                          $('.check<%= result1[i].id %>').eq(count).html('*')
                          count++;
                          console.log(number1);
                          console.log("count"+count);
                          if(count == 4){
                            count=0;
                            $.ajax({
                              type: 'POST',
                              url: '/coupon_password/<%= result1[i].id %>',
                              contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                              cache: false,
                              dataType: 'json',
                              success: function(result) {
                                if(result['password'] == number1) {
                                  number1 = "";
                                  $('.check<%= result1[i].id %>').html('');
                                  $.ajax({
                                    type: 'POST',
                                    url: '/del_coupon_customer/<%= result1[i].id %>',
                                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                                    cache: false,
                                    dataType: 'json',
                                    success: function(result) {
                                      if(result['result'] == 'success') {
                                        $('.alert_o').css('display','block');
                                      $('.alert_content').html('쿠폰 사용이 완료되었습니다')
                                      $('.alert_o').click(function(){
                                        $('.check<%= result1[i].id %>').html('');
                                        location.reload();
                                      })
                                      }
                                    },
                                    error: function(error) {
                                      console.log(error);
                                      console.log('쿠폰 비밀번호 입력후 테이블 삭제 실패');
                                    }
                                  });
                                }
                                else {
                                  number1 = "";
                                  $('.check<%= result1[i].id %>').html('');
                                  $('.alert_x').css('display','block');
                                  $('.alert_content').html('비밀번호가 일치하지 않습니다')
                                }
                              },
                              error: function(error) {
                                console.log(error);
                                console.log('쿠폰 비밀번호 일치 실패');
                              }
                            });
                          }
                        });
                      });
                      /* 쿠폰 밀어서 삭제 버튼 클릭 시 */
                      $('#swiper-slide-menu<%= result1[i].id %>').click(function() {
                        $.ajax({
                          type: 'POST',
                          url: '/del_coupon_customer/<%= result1[i].id %>',
                          contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                          cache: false,
                          dataType: 'json',
                          success: function(result) {
                            if(result['result'] == 'success') {
                              $('.alert_select').css('display', 'block');
                              $('.alert_content_select').html('쿠폰을 삭제하시겠습니까?')
                              $('.alert_select_ok').click(function () {
                              location.reload();
                              });
                            }
                          },
                          error: function(error) {
                            console.log(error);
                            console.log('쿠폰 삭제버큰 클릭 후 테이블 삭제 실패');
                          }
                        });
                      });
                      /* 비밀번호 키패드에서 취소 버튼 눌렀을 때 */
                      $('#password_cancel<%= result1[i].id %>').click(function(){
                        $('#password_number_div_sj<%= result1[i].id %>').css('display','none');
                        $('.swiper-container').css('display', 'block');
                        $('#swiper-slide-content<%= result1[i].id %>').css('display','block');
                        $('.swiper-pagination').css('display','block');
                        $('#swiper-slide-menu<%= result1[i].id %>').css('display','block');
                        $('.check<%= result1[i].id %>').html('')
                      });
                    </script>
                    <% } %>
                        <% } else { %>
                            <div class='stamp_list'>
                                <div id="no_stamp">발급받은 쿠폰이 없습니다.</div>
                            </div>
                            <% } %>

    </div>



    <div id="nav_sj">
        <div id="home_sj">
            <img src="/images/home.png" width="40%">
            <p>홈</p>
        </div>
        <div id="coupon_sj">
            <img src="/images/coupon2.png" width="40%">
            <p id="nav_text">쿠폰</p>
        </div>
        <div id="location_sj">
            <img src="/images/location.png" width="40%">
            <p>주변 가맹점</p>
        </div>
        <div id="myStamp_sj">
            <img src="/images/stamp.png" width="40%">
            <p>내 스탬프</p>
        </div>
        <div id="logout">
            <img src="/images/logout.png" width="40%">
            <p>로그아웃</p>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
<script src="/javascripts/cordova_getgps.js"></script>
<script type="text/javascript">
  /* ☆순서☆ : gettStart_setting -> getNearMarket -> nearCounting -> afterGetNearFunction */
  function gettStart_setting() {
    window.seoulApp.SignUpgetGPS();
    getNearMarket();
  }
  // 근거리 정렬 (실제 거리 구하시는 식 X )
  function nearCounting(marketList) {
      var SortingMarket = new Array();
      // marketList는 market DB의 시장을 전부 가져온 row값
      for (var i = 0; i < marketList.length; i++) {
          // 각 시장의 위도, 경도 값들을 전역 위도, 경도 값과 비교
          var tempX = window.myLat - marketList[i].coordinateX;
          var tempY = window.myLng - marketList[i].coordinateY;
          var tempResult = Math.pow(tempX, 2) + Math.pow(tempY, 2);
          tempResult = Math.sqrt(tempResult);
          // key : value 형태 object로 마켓리스트를 저장
          // 하지만 imgurl이 없으면 디폴트 경로 설정
          if (!marketList[i].imgurl) {
              SortingMarket[i] = {
                  'imgurl' : '/images/market_default.jpg',
                  'marketName': marketList[i].name,
                  'marketDistance': tempResult
              };
          } else {
              SortingMarket[i] = {
                  'imgurl' : marketList[i].imgurl,
                  'marketName': marketList[i].name,
                  'marketDistance': tempResult
              };
          }
      } // for
      // Oject SortingMarket의 marketDistance값 기준으로 object sorting method
      SortingMarket.sort(function(a, b) {
          return a.marketDistance - b.marketDistance;
      });
      var tempString = "";
      for (var i = 0; i < 3; i++) {
          tempString += '<div class="market" id="market_name_id" name="sijang_name">';
          tempString += '<div class="market_image" style="background: url('+SortingMarket[i].imgurl+');background-repeat: no-repeat; background-position: center center; background-size: 170%;"></div>';
          tempString += '<p id="click_coupon" class="click_coupon">'+SortingMarket[i].marketName+'</p>';
          tempString += '<img class="gray_button"src="/images/down-arrow.png" width="20px" height="20px">';
          tempString += '<img class="blue_button"src="/images/down-arrow-blue.png" width="20px" height="20px" style="display: none"></div>'
      } // for
      // content_title_nearMarket.innerHTML = "";
      // content_title_nearMarket.innerHTML = tempString;
      $('#coupon_view').append(tempString);
      afterGetNearFunction();
  } // nearCounting()
  // ajax 통신 테스팅
  function getNearMarket() {
      $.ajax({
          url: "/searching/near",
          dataType: 'json',
          type: 'POST',
          contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
          // data: params,
          success: function (result) {
              console.log(result);
              if (result.rows.length > 0) {
                  nearCounting(result.rows); // nearCounting 함수로 결과 배열들 전달
              } else {
                  console.log('검색어를 확인해 주세요.');
              }
          },
          error: function (e) {
              console.log('검색어를 확인해 주세요.');
              console.log('process error : ', e);
          }
      }); // ajax
  } // getNearMarket()
  gettStart_setting();
  // ──────────────────────────────────────────── //
  function afterGetNearFunction() {
      $('#go_my_coupon').click(function () {
          $('#coupon_view').css('display','none')
          $('.my_coupon').css('display','block')
      })
      $('#go_coupon_view').click(function () {
          $('#coupon_view').css('display','block')
          $('.my_coupon').css('display','none')
      })
      $('#location_sj').click(function () {
           location.href = "/location";
          })
      $('#myStamp_sj').click(function () {
          location.href = "/myStamp";
      })
      $('#home_sj').click(function () {
          location.href = "/main";
      })
        $('#logout').click(function () {
          $('.alert_select').css('display', 'block');
          $('.alert_content_select').html('로그아웃 하시겠습니까?')
          $('.alert_select_ok').click(function () {
            $('.alert_select').css('display', 'none');
            $(location).attr('href', '/logout');
          })
        })
          var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        initialSlide: 0,
        resistanceRatio: 0,
        slideToClickedSlide: true,
        pagination: {
          el: '.swiper-pagination',
          dynamicBullets: true,
        },
      });
      var next_index = 0;
      var index=-1;
      var count=0;
      var chk_send = 0;
      $('.market').click(function () {
        if (chk_send == 0){
         chk_send = 1;
        //  return true;
          next_index = $(".market").index( this )+1;
          if(next_index ==index){
              if(count==1){
              $('.gray_button').eq(next_index-1).css('display','block')
              $('.blue_button').eq(next_index-1).css('display','none')
              $('.market').css('color','#9c9c9c');
              $('.find_coupon_list1').css('display','none');
              index=next_index;
              count=0;
              chk_send = 0;
              }
              else{
                $('.market').css('color', '#9c9c9c');
                $('.gray_button').css('display', 'block')
                $('.blue_button').css('display', 'none')
                $('.gray_button').eq(next_index - 1).css('display', 'none')
                $('.blue_button').eq(next_index - 1).css('display', 'block')
                $('.market').eq(next_index - 1).css('color', '#63dded');
                var sijang_name = document.getElementsByClassName('click_coupon')[next_index - 1].innerHTML;
          var data={
            'sijang_name' : sijang_name
          }
          $.ajax({
            type : 'post',
            url : '/send_sijang_name',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            data: data,
            datatype: "json",
            success : function(result) {
              if(result['result']=='success'){
                chk_send = 0;
                var coupon_name = result['results'];
                console.log(coupon_name);
                if(coupon_name.length){
                  for(var i =0; i<coupon_name.length;i++){
                    var find_coupon_list_div = document.createElement("div");
                    find_coupon_list_div.setAttribute("class","find_coupon_list1");
                   var html = '<div class="find_coupon1">';
                        html += '<div class="store_and_market1">';
                        html += '<div class="store_name1">'+coupon_name[i].market_name +'</div>';
                        html += '<div class="period1">남은 수량 : '+coupon_name[i].coupon_count+'</div></div>';
                        html += '<div class="standard1">'+coupon_name[i].coupon_standard+'</div>';
                        html += '<div class="sale_price1">'+coupon_name[i].coupon_reward+'원 할인</div>';
                        html += '<div class="coupon_bottom">';
                        html += '<div class="cp" style="display:none;">'+coupon_name[i].coupon_password +'</div>';
                        html += '<div class="market_name1">'+coupon_name[i].sijang_name+'</div>';
                        html += '<div class="logo_image"><img src="/images/inline-logo.png" width="75%" height="auto" style="padding-top: 12%;padding-left: 8%;"></div>';
                        html += '</div>';
                        html += '</div>';
                    find_coupon_list_div.innerHTML = html;
                    document.getElementsByClassName('market')[next_index-1].after(find_coupon_list_div)
                    index=next_index;
                    count=1;
                  }
                }else{
                  $('.alert_x').css('display','block');
                  $('.alert_content').html('해당 시장에 쿠폰이 없습니다')
                  $('.market').css('color', '#9c9c9c');
                $('.gray_button').css('display', 'block')
                $('.blue_button').css('display', 'none')
                }
              }
            }
          })
              }
          }
          else{
              $('.find_coupon_list1').remove();
              $('.gray_button').css('display','block')
              $('.blue_button').css('display','none')
              $('.gray_button').eq(next_index-1).css('display','none')
              $('.blue_button').eq(next_index-1).css('display','block')
              $('.market').css('color','#9c9c9c');
              $('.market').eq(next_index-1).css('color','#63dded');
          var sijang_name=document.getElementsByClassName('click_coupon')[next_index-1].innerHTML;
          var data={
            'sijang_name' : sijang_name
          }
          $.ajax({
            type : 'post',
            url : '/send_sijang_name',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            cache: false,
            data: data,
            datatype: "json",
            success : function(result) {
              if(result['result']=='success'){
                chk_send = 0;
                var coupon_name = result['results'];
                console.log(coupon_name);
                if(coupon_name.length){
                  for(var i =0; i<coupon_name.length;i++){
                    var find_coupon_list_div = document.createElement("div");
                    find_coupon_list_div.setAttribute("class","find_coupon_list1");
                        var html = '<div class="find_coupon1">';
                        html += '<div class="store_and_market1">';
                        html += '<div class="store_name1">'+coupon_name[i].market_name +'</div>';
                        html += '<div class="period1">남은 수량 : '+coupon_name[i].coupon_count+'</div></div>';
                        html += '<div class="standard1">'+coupon_name[i].coupon_standard+'</div>';
                        html += '<div class="sale_price1">'+coupon_name[i].coupon_reward+'원 할인</div>';
                        html += '<div class="coupon_bottom">';
                        html += '<div class="cp" style="display:none;">'+coupon_name[i].coupon_password +'</div>';
                        html += '<div class="market_name1">'+coupon_name[i].sijang_name+'</div>';
                        html += '<div class="logo_image"><img src="/images/inline-logo.png" width="75%" height="auto" style="padding-top: 12%;padding-left: 8%;"></div>';
                        html += '</div>';
                        html += '</div>';
                    find_coupon_list_div.innerHTML = html;
                    document.getElementsByClassName('market')[next_index-1].after(find_coupon_list_div)
                    index=next_index;
                    count=1;
                  }
                }else{
                  $('.alert_x').css('display','block');
                  $('.alert_content').html('해당 시장에 쿠폰이 없습니다')
                  $('.market').css('color', '#9c9c9c');
                $('.gray_button').css('display', 'block')
                $('.blue_button').css('display', 'none')
                }
              }
            }
          })
      }
  }
      else{
         return false;
        }
      })
        var check=0;
      $(document).off("click",'.find_coupon_list1').on("click",'.find_coupon_list1',function(event){

          var list = $('.find_coupon_list1').index(this);
          var market=document.getElementsByClassName('store_name1')[list];
          var market_name =market.innerHTML;
          var sijang = document.getElementsByClassName('market_name1')[list];
          var sijang_name = sijang.innerHTML;
          var password = document.getElementsByClassName('cp')[list];
          var coupon_password = password.innerHTML;
          var reward = document.getElementsByClassName('sale_price1')[list];
          var coupon_reward = reward.innerHTML;
          var standard = document.getElementsByClassName('standard1')[list];
          var coupon_standard = standard.innerHTML;
          console.log(coupon_password);
          var user_id = '<%= user_id %>'
          console.log(user_id);
          down();
          function down() {
            $('.alert_select').css('display','block');
            $('.alert_x').css('display', 'none');
            $('.alert_content_select').html('쿠폰을 다운로드 하시겠습니까?')
              $('.alert_select_ok').click(function(){
                // if(check==0)
                // check=1;

                $('.alert_select').css('display','none');
                var data = {
                  'user_id' : user_id,
                  'sijang_name' : sijang_name,
                  'market_name' : market_name,
                  'coupon_password' : coupon_password,
                  'coupon_reward' : coupon_reward,
                  'coupon_standard' : coupon_standard
                }
                console.log(data);
                $.ajax({
                  type: "POST",
                  url: "/coupon_customer",
                  contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                  cache: false,
                  datatype: "json",
                  data: data,

                  success: function (result) {
                    if (result['result'] == 'success') {
                      $('.alert_x').css('display', 'none');
                      $('.alert_o').css('display', 'block');
                      $('.alert_content').html('쿠폰이 발급 되었습니다')
                      console.log('발급')
                      $('.alert_o').click(function () {
                        var data = {
                          'sijang_name': sijang_name,
                          'market_name': market_name
                        }
                        console.log(data);
                        $.ajax({
                          type: "POST",
                          url: "/decreasecoupon",
                          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                          cache: false,
                          datatype: "json",
                          data: data,
                          success: function (result) {
                            if (result['result'] == 'decrease') {
                              location.reload()
                              // });
                            }
                            else if (result['result'] == 'delete') {
                              location.reload()
                              // });
                            }
                          },
                          error: function (error) {
                            alert('에러');
                          }
                        });
                        // break;
                      });
                  }

                        else if (result['result'] == 'fail') {
                        console.log('이미')
                        $('.alert_x').css('display', 'block');
                        $('.alert_content').html('이미 해당 쿠폰이 있습니다')
                        $('.alert_x').click(function(){
                        location.reload();
                      })
                      }



                    },
                    error: function (error) {
                      location.reload();
                        // alert('쿠폰등록실패2');
                    }
                });
              })
          // }
        }
        })
        $('.alert_x').click(function(){
          $(this).css('display','none')
        })
        $('.alert_o').click(function(){
          $(this).css('display','none')
        })
        $('.alert_select_cancel').click(function () {
                $('.alert_out').css('display', 'none')
                $('.alert_gps').css('display', 'none')
                $('.alert_select').css('display', 'none')
                $('.alert_select_ok').off();
            });
            $('.alert_select_cancel_gps').click(function () {
                $('.alert_select').css('display', 'none')
                $('.alert_out').css('display', 'none')
                $('.alert_gps').css('display', 'none')
                $('.alert_select_ok_gps').off();
            });
      //  function Get_sijanimg() {
      //     for (var i = 0; i < $('.market > p').length; i++) {
      //       var tempone = $('.market > p')[i].innerText;
      //       $.ajax({
      //           url: "/searching/gooname",
      //           dataType: 'json',
      //           type: 'POST',
      //           contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
      //           data: {
      //               "filed": "name",
      //               "search_value": tempone
      //           },
      //           success: function (result) {
      //               if (result.rows.length > 0) {
      //                 var temptwo = "background: url("+result.rows[0].imgurl+");background-repeat: no-repeat; background-position: center center; background-size: 155%;";
      //                 console.log(temptwo);
      //                 document.getElementsByClassName("market_image")[i].setAttribute("style", temptwo);
      //               } else {
      //                 console.log("시장이 하나도 없을리가 없음 ~ 앞 작용 확인");
      //               }
      //           },
      //           error: function (e) {
      //               console.log('process error : ', e);
      //           }
      //       });
      //     }
      //  }
    }
</script>
</html>
