<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/store_infor.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <!--     <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script> -->
</head>

<body>
    <div id="text_logo">
        <div id="verti">
            <img id="inline_logo" src="/images/inline-logo.png" width="50%" height="auto" style="margin-left: 25%">
            <img id="tableControl" src="/images/backButton.png" width="35px" height="35px">
        </div>
    </div>

    <!-- Searching Seaction - Hyeon Woo -->

    <div id="Searching">
        <div id="verti">
            <div id="vertical_helper">
                <!-- <select name="filed">
                    <option value="name" selected="selected">시장이름</option>
                    <option value="market_name">상점이름</option>
                </select> -->
                <!-- <input type="text" id="search_value" style="background-image:url('/images/search3.png'); background-position:100px 0px; background-repeat: no-repeat" onFocus="this.style.backgroundImage='url(none)';"> -->
                <input type="text" id="search_value">
                <!-- <input type="button" value="검색" id="search_value"> -->
                <img src="/images/search3.png" value="검색" id="searchingButton" width="25px" height="25px">
            </div>
        </div>
    </div>

    <!-- <input type="button" value=" ◀ " id="tableControl"> -->
    <div id="navControlButton">
        <div id="verti-helper">
            <img src="/images/search2.png" width="14px" height="14px">&nbsp지도로 검색
        </div>
    </div>

    <article>
        <ol id="search_result"></ol>
    </article>

    <div id="Goomap">
        <table>
            <tr>
                <td>노원구</td>
                <td>성동구</td>
                <td>은평구</td>
                <td>양천구</td>
                <td>강북구</td>
            </tr>
            <tr>
                <td>동대문구</td>
                <td>도봉구</td>
                <td>송파구</td>
                <td>성북구</td>
                <td>관악구</td>
            </tr>
            <tr>
                <td>금천구</td>
                <td>서대문구</td>
                <td>강동구</td>
                <td>종로구</td>
                <td>영등포구</td>

            </tr>
            <tr>
                <td>동작구</td>
                <td>강남구</td>
                <td>마포구</td>
                <td>중구</td>
                <td>서초구</td>
            </tr>
            <tr>
                <td>강서구</td>
                <td>광진구</td>
                <td>구로구</td>
                <td>중랑구</td>
                <td>용산구</td>
            </tr>
        </table>
    </div>

    <div id="NewGoomap"></div>
    <!-- Searching Seaction - Hyeon Woo -->

    <!-------------------- KAKAO MAP API ---------------------->
    <div id="market_infor">
        <div id="map" style="width:100%;height:350px;"></div>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1f14a7f1512988347e7ffdd75ac7ab4c"></script>
    <!-------------------- KAKAO MAP API ---------------------->
    <div id="aaa">
        <h4>내 스탬프</h4>
        <div id="myStamp">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- <label>내 스탬프</label> -->
                    <% if(myStamps) { %>
                        <% for(var i=0; i<myStamps.length; i++) { %>
                            <div class="swiper-slide">
                                <div class="stamp_name">
                                    <div style="width: 70%">
                                        <%= myStamps[i].market_name %>
                                    </div>
                                    <div style="width: 30%" class="market_name">
                                        <%= myStamps[i].sijang_name %>
                                    </div>
                                </div>
                                <div class="stamp_count">
                                    <div class="stamp_count_vertical">
                                        <p>
                                            <%= myStamps[i].stamp_count %>/
                                                <%= myStamps[i].stamp_standard %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <div class='stamp_list'>
                                        <div id="no_stamp">발급받은 쿠폰이 없습니다.</div>
                                    </div>
                                    <% } %>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <h3 id="user_name">
            <%= user.username %>님 근처 시장
        </h3>
        <div id="near_market">
            <div class="near_market_list">
                <div id="market_pic">
                    <img src="/images/market.png" width="100%" height="100%">
                </div>
                <div class="near_market_name">통인시장</div>
                <div class="distance">2.2km</div>
            </div>
            <div class="near_market_list">
                    <div id="market_pic">
                        <img src="/images/fruit.jpg" width="100%" height="100%">
                    </div>
                    <div class="near_market_name">노원시장</div>
                    <div class="distance">5.4km</div>
                </div>
                <div class="near_market_list">
                        <div id="market_pic">
                            <img src="/images/market2.jpg" width="100%" height="100%">
                        </div>
                        <div class="near_market_name">광장시장</div>
                        <div class="distance">7.9km</div>
                    </div>
        </div>

        <div id="hot_store">
            <label>서울시 인기 상점</label>
            <div class="hot_store_list">
                <div class="hot_store_detail">
                    <div>좋아요: 212</div>
                    <div>
                        <img src="/images/fruit.jpg" width="100%">
                    </div>
                    <div class="detail_name">
                        통인시장
                        <br>김가네 과일가게
                    </div>
                </div>
                <div class="hot_store_detail"></div>
            </div>
            <div class="hot_store_list">
                <div class="hot_store_detail"></div>
                <div class="hot_store_detail"></div>
            </div>
            <div class="hot_store_list">
                <div class="hot_store_detail"></div>
                <div class="hot_store_detail"></div>
            </div>
            <div class="hot_store_list">
                <div class="hot_store_detail"></div>
                <div class="hot_store_detail"></div>
            </div>
            <div class="hot_store_list">
                <div class="hot_store_detail"></div>
                <div class="hot_store_detail"></div>
            </div>
            <div class="hot_store_list">
                <div class="hot_store_detail"></div>
                <div class="hot_store_detail"></div>
            </div>
            <div class="hot_store_list">
                <div class="hot_store_detail"></div>
                <div class="hot_store_detail"></div>
            </div>
            <div class="hot_store_list">
                <div class="hot_store_detail"></div>
                <div class="hot_store_detail"></div>
            </div>
            <div class="hot_store_list">
                <div class="hot_store_detail"></div>
                <div class="hot_store_detail"></div>
            </div>
            <div class="hot_store_list">
                <div class="hot_store_detail"></div>
                <div class="hot_store_detail"></div>
            </div>
        </div>
    </div>

    <div id="store_infor">
        <div class="name_sj">
            <p id="store_name_sj">

            </p>
            <p class="market_name_sj">

            </p>
        </div>

        <div id="sns_sj">
            <img id="noGood_Button_sj" src="/images/noGood.png" width="16%" height="auto">
            <img id="yesGood_Button_sj" src="/images/yesGood.png" width="16%" height="auto">
            <p id="goodCount_sj">215</p>
            <img src="/images/ka.png" width="16%" height="auto">
            <img src="/images/face.png" width="16%" height="auto">
        </div>
        <div id="menu_sj">
            <p id="go_stamp_sj">스탬프</p>
            <p id="go_store_detail_sj">상점 정보</p>
            <p id="go_store_review_sj">리뷰</p>
        </div>
        <div id="stamp_menu_sj">
            <div class="stamp_sj">

                <div class="tenControls_sj">
                    <div class="tenStamp_sj">

                        <div class="tenStamp_top_sj">
                            <div class="ten_sj">
                                <p>1</p>
                            </div>
                            <div class="ten_sj">
                                <p>2</p>
                            </div>
                            <div class="ten_sj">
                                <p>3</p>
                            </div>
                            <div class="ten_sj">
                                <p>4</p>
                            </div>
                            <div class="ten_sj">
                                <p>5</p>
                            </div>
                        </div>

                        <div class="tenStamp_bottom_sj">
                            <div class="ten_sj">
                                <p>6</p>
                            </div>
                            <div class="ten_sj">
                                <p>7</p>
                            </div>
                            <div class="ten_sj">
                                <p>8</p>
                            </div>
                            <div class="ten_sj">
                                <p>9</p>
                            </div>
                            <div class="ten_sj">
                                <p>10</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="fiveControls_sj">
                    <div class="fiveStamp_sj">
                        <div class="five_sj">
                            <p>1</p>
                        </div>
                        <div class="five_sj">
                            <p>2</p>
                        </div>
                        <div class="five_sj">
                            <p>3</p>
                        </div>
                        <div class="five_sj">
                            <p>4</p>
                        </div>
                        <div class="five_sj">
                            <p>5</p>
                        </div>
                    </div>
                </div>

            </div>
            <div id="stamp_infor_sj">
                <p>기준:5000원 이상</p>
                <p>보상:

                </p>
            </div>

            <button class="button_sj">다운받기</button>
        </div>



        <div class="store_detail_sj">
            <h2>상점 소개</h2>
            <p>저희 과일 가게는 항상 신선한 유기농 과일만을 공수해 옵니다. </p>
            <img src="/images/fruit.jpg" width="100%">
            <!-- <img src="10.png" width="100%"> -->

            <h2>위치</h2>
            <img src="/images/han.png" width="100%">
        </div>




        <div class="store_review_sj">
            <button class="review_button_sj">리뷰 등록</button>
            <div class="review_div_sj">

                <div class="review_content_sj">
                    <div class="review_content_id_sj">
                        <b>gkstjdwls11</b>
                    </div>
                    <div class="review_content_date_sj">18-07-12</div>
                </div>
                <p>과일이 굉장히 신선하고 좋았습니다! 사장님도 굉장히 친절하셔요</p>
            </div>

            <div class="review_div_sj">
                <div class="review_content_sj">
                    <div class="review_content_id_sj">
                        <b>kingkw</b>
                    </div>
                    <div class="review_content_date_sj">18-07-13</div>
                </div>
                <p>사장님이 굉장히 친절하시다던데..누가 그런말은 하는건지 완전 불친절ㅡㅡ</p>
            </div>

            <div class="review_div_sj">
                <div class="review_content_sj">
                    <div class="review_content_id_sj">
                        <b>simson94</b>
                    </div>
                    <div class="review_content_date_sj">18-07-13</div>
                </div>
                <p>이 집에서 멜론 사먹어봤는데 진짜 엄청 달더라고요ㅋㅋ 다음에 와이프 데리고 한번 더 사러 가겠습니다. 번창하세요!</p>
            </div>

            <div class="review_div_sj">
                <div class="review_content_sj">
                    <div class="review_content_id_sj">
                        <b>jungjaeho1115</b>
                    </div>
                    <div class="review_content_date_sj">18-07-14</div>
                </div>
                <p>사과가 다른 가게보다 좀 비싼 감이 있었지만 다른 과일들은 모두 저렴하고 상품도 좋네요!</p>
            </div>
        </div>
    </div>

    <div id="nav_sj">
        <div id="home_sj">
            <img src="/images/home.png" width="60%">
            <br/>홈</div>
        <div id="coupon_sj">
            <img src="/images/coupon.png" width="60%">
            <br/>쿠폰</div>
        <div id="location_sj">
            <img src="/images/location.png" width="60%">
            <br/>주변 가맹점</div>
        <div id="myStamp_sj">
            <img src="/images/stamp.png" width="60%">
            <br/>내 스탬프</div>
        <div id="my_sj">
            <img src="/images/my.png" width="60%">
            <br/>MyPage</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script> 
        $('#myStamp_sj').click(function () {
            location.href = "/myStamp";
        })
        $('#coupon_sj').click(function () {
            location.href = "/coupon";
        })
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                dynamicBullets: true,
            },
        });
    </script>

    <!-------------------- KAKAO MAP API ---------------------->
    <script type="text/javascript">
        // 지도를 표시할 div (id)
        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 지도를 클릭했을때 클릭한 위치에 마커를 추가하도록 지도에 클릭이벤트를 등록합니다
        // daum.maps.event.addListener(map, 'click', function (mouseEvent) {
        //     var latlng = mouseEvent.latLng;
        //     // 클릭한 위치에 마커를 표시합니다 
        //     addMarker(latlng);

        //     var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고,  ' + '경도는 ' + latlng.getLng() + ' 입니다';
        //     var resultDiv = document.getElementById('clickLatlng');
        //     resultDiv.innerHTML = message;
        // });

        // 지도에 표시된 마커 객체를 가지고 있을 배열입니다
        var markers = [];

        // 마커 하나를 지도위에 표시합니다 
        addMarker(new daum.maps.LatLng(33.450701, 126.570667));

        // 마커를 생성하고 지도위에 표시하는 함수입니다
        function addMarker(position) {

            // 마커를 생성합니다
            var marker = new daum.maps.Marker({
                position: position
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            // 생성된 마커를 배열에 추가합니다
            markers.push(marker);
        }

        // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
        function setMarkers(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
        // function showMarkers() {
        //     setMarkers(map)
        // }

        // "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
        // function hideMarkers() {
        //     setMarkers(null);
        // }

        function relayout() {

            // 지도를 표시하는 div 크기를 변경한 이후 지도가 정상적으로 표출되지 않을 수도 있습니다
            // 크기를 변경한 이후에는 반드시  map.relayout 함수를 호출해야 합니다 
            // window의 resize 이벤트에 의한 크기변경은 map.relayout 함수가 자동으로 호출됩니다
            map.relayout();
        }


        function changeCenter(mapLat, mapLng) {
            var moveLatLon = new daum.maps.LatLng(mapLat, mapLng);
            relayout();
            // 입력받은 좌표에 마커 추가
            addMarker(moveLatLon);

            // 지도 중심을 이동 시킵니다
            map.setCenter(moveLatLon);
            map.setLevel(4);

        } // changeCenter
    </script>
    <!-------------------- KAKAO MAP API ---------------------->
    <script type='text/javascript' src='javascripts/searching.js'></script>
</body>

</html>