<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="/javascripts/spin.js"></script>
    <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
    <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
    <style>


        body,
        html {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #menu {
            width: 100%;
            height: 50px;
            text-align: center;
            background-color: #63dded;
            line-height: 50px;
            color: white;
        }

        #nav_sj {
            width: 100%;
            height: 8%;
            background: white;
            display: inline-flex;
            position: fixed;
            top: 92%;
            z-index: 1;
            border-top-style: solid;
            border-top-width: 1px;
            /* border-left-style: none */
        }

        #nav_sj div {
            padding: 5px;
            width: 20%;
            font-size: 10px;
            color: #9c9c9c;
            text-align: center;
        }

        #nav_sj p {
            margin: 0;
        }

        #nav_text {
            color: #63dded;
        }
    </style>
</head>

<body>
    <div id="menu">내 스탬프

    </div>
    <div>
      <input type="text" id="stamp_reward" value="<%= result[0].stamp_reward %>">
      <br>
      <input type="text" id="market_promotion" value="<%= result[0].market_promotion %>">
      <br>
      <input type="text" id="market_introduce" value="<%= result[0].market_introduce %>">
      <br>
      <input type="text" id="stamp_password" value="<%= result[0].stamp_password %>">
      <br>
      <button id="stamp_reform_button">변경</button>
    </div>
    <div id="nav_sj">
        <div id="home">
            <img src="/images/home.png" width="40%">
            <p>홈</p>
        </div>
        <div id="coupon_sj">
            <img src="/images/coupon.png" width="40%">
            <p>쿠폰</p>
        </div>
        <div id="myStamp_sj">
            <img src="/images/stamp2.png" width="40%">
            <p id="nav_text">스탬프</p>
        </div>
        <div id="mystore_sj">
            <img src="/images/mystore.png" width="40%">
            <p>내 상점</p>
        </div>
        <div id="logout">
                <img src="/images/logout.png" width="40%">
                <p>로그아웃</p>
            </div>
    </div>
    <script>
        $('#home').click(function () {
            location.href = "/mainManager";
        })
        $('#coupon_sj').click(function () {
            location.href = "/couponManager";
        })
        $('#mystore_sj').click(function () {
            location.href = "/mystore";
        })
        $('#logout').click(function () {
            var logout = confirm("로그아웃 하시겠습니까?");
            if (logout == true) {

            } else {
            }
        })
        $('#stamp_reform_button').click(function(){
          var market_name = '<%= result[0].market_name %>';
          var sijang_name = '<%= result[0].sijang_name %>';
          var stamp_reward = $('#stamp_reward').val();
          var stamp_password = $('#stamp_password').val();
          var market_promotion = $('#market_promotion').val();
          var market_introduce = $('#market_introduce').val();

          var data = {
            'market_name' : market_name,
            'sijang_name' : sijang_name,
            'stamp_reward' : stamp_reward,
            'stamp_password' : stamp_password,
            'market_promotion' : market_promotion,
            'market_introduce' : market_introduce
          }

          $.ajax({ // ajax 통신으로 지원자 입력한 정보를 서버에 보낸다.
                  type:'POST',
                  url:'/manager_reform_stamp',
                  contentType:'application/x-www-form-urlencoded; charset=UTF-8',
                  cache:false,
                  dataType:'json',
                  data:data,
                  success:function(result){
                    if(result['success']=='success'){
                      alert('수정되었습니다.');
                      location.reload();
                    }//result if
                  },
                  error:function(error){
                    console.log('erer');
                  }
            });
        });
    </script>
</body>

</html>
