<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/stamp.css" />
  <script type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js'></script>
  <!-- <script>
  window.addEventListener('load', function () {
    FastClick.attach(document.body);
  }, false);
  </script> -->
</head>

<body>

  <div id="myStamp">
    <!-- <label>내 스탬프</label> -->
    <% if(myStamps) { %>
      <% for(var i=0; i<myStamps.length; i++) { %>
        <div class="stamp_list" id='stamp_list<%= myStamps[i].id %>'>
          <div class="stamp_name">
            <div style="width: 70%">
              <%= myStamps[i].market_name %>
            </div>
            <div style="width: 30%" class="market_name">
              <%= myStamps[i].sijang_name %>
            </div>
          </div>
          <div class="stamp_count">
            <div class="stamp_count_vertical" id='stamp_count_vertical<%= myStamps[i].id %>'>
              <p>
                <%= myStamps[i].stamp_count %> /
                <%= myStamps[i].stamp_standard %>
              </p>
            </div>
          </div>
        </div>
        <% } %>
        <% } else { %>
          <div class='stamp_list'>
            <div id="no_stamp">발급받은 스탬프가 없습니다.</div>
          </div>
          <% } %>
        </div>


        <% if(myStamps) { %>
          <% for(var i=0; i<myStamps.length; i++) { %>
            <div class='selected_stamp' id="selected_stamp<%= myStamps[i].id %>">
                <div class="back_div<%= myStamps[i].id %>" id="back_div">
                    <img id="tableControl<%= myStamps[i].id %>" src="/images/backButton.png" width="20px" height="20px">
                </div>
              <div id="name_sj">
                <p id="store_name_sj">
                  <%= myStamps[i].market_name %>
                </p>
                <p id="market_name_sj">
                  <%= myStamps[i].sijang_name %>
                </p>
              </div>
              <div id="sns_sj">
                <img class='noGood_Button_sj' id="noGood_Button_sj<%= myStamps[i].id %>" src="/images/noGood.png" width="16%" height="auto">
                <img class='yesGood_Button_sj' id="yesGood_Button_sj<%= myStamps[i].id %>" src="/images/yesGood.png" width="16%" height="auto">
                <p class='goodCount_sj' id="goodCount_sj<%= myStamps[i].id %>">215</p>
                <img src="/images/ka.png" width="16%" height="auto">
                <img src="/images/face.png" width="16%" height="auto">
              </div>
              <div class='menu_sj' id="menu_sj<%= myStamps[i].id %>">
                <p class='go_stamp_sj' id="go_stamp_sj<%= myStamps[i].id %>">스탬프</p>
                <p class='go_store_detail_sj' id="go_store_detail_sj<%= myStamps[i].id %>">상점 정보</p>
                <p class='go_store_review_sj' id="go_store_review_sj<%= myStamps[i].id %>">리뷰</p>
              </div>
              <div class='stamp_menu_sj' id="stamp_menu_sj<%= myStamps[i].id %>">
                <div class='stamp_sj' id="stamp_sj<%= myStamps[i].id %>">

                  <div class='tenControls_sj' id="tenControls_sj<%= myStamps[i].id %>">
                    <div class='tenStamp_sj' id="tenStamp_sj<%= myStamps[i].id %>">

                      <div class='tenStamp_top_sj' id="tenStamp_top_sj<%= myStamps[i].id %>">
                        <div class="ten_sj <%= myStamps[i].id %>">
                          <p>1</p>
                        </div>
                        <div class="ten_sj <%= myStamps[i].id %>">
                          <p>2</p>
                        </div>
                        <div class="ten_sj <%= myStamps[i].id %>">
                          <p>3</p>
                        </div>
                        <div class="ten_sj <%= myStamps[i].id %>">
                          <p>4</p>
                        </div>
                        <div class="ten_sj <%= myStamps[i].id %>">
                          <p>5</p>
                        </div>
                      </div>

                      <div class='tenStamp_bottom_sj' id="tenStamp_bottom_sj<%= myStamps[i].id %>">
                        <div class="ten_sj <%= myStamps[i].id %>">
                          <p>6</p>
                        </div>
                        <div class="ten_sj <%= myStamps[i].id %>">
                          <p>7</p>
                        </div>
                        <div class="ten_sj <%= myStamps[i].id %>">
                          <p>8</p>
                        </div>
                        <div class="ten_sj <%= myStamps[i].id %>">
                          <p>9</p>
                        </div>
                        <div class="ten_sj <%= myStamps[i].id %>">
                          <p>10</p>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class='fiveControls_sj' id="fiveControls_sj<%= myStamps[i].id %>">
                    <div class='fiveStamp_sj' id="fiveStamp_sj<%= myStamps[i].id %>">
                      <div class="five_sj <%= myStamps[i].id %>">
                        <p>1</p>
                      </div>
                      <div class="five_sj <%= myStamps[i].id %>">
                        <p>2</p>
                      </div>
                      <div class="five_sj <%= myStamps[i].id %>">
                        <p>3</p>
                      </div>
                      <div class="five_sj <%= myStamps[i].id %>">
                        <p>4</p>
                      </div>
                      <div class="five_sj <%= myStamps[i].id %>">
                        <p>5</p>
                      </div>
                    </div>
                  </div>

                </div>
                <div id="stamp_infor_sj">
                  <p>기준:5000원 이상</p>
                  <p>보상:
                    <%= myStamps[i].stamp_reward %>

                  </p>
                </div>

                <button class='button_sj' id="button_sj<%= myStamps[i].id %>">삭제</button>
              </div>


              <div class='password_number_div_sj' id="password_number_div_sj<%= myStamps[i].id %>">

                <div class="password_line_sj <%= myStamps[i].id %>">
                  <div class="password_number_sj <%= myStamps[i].id %>"></div>
                  <div class="password_number_sj <%= myStamps[i].id %>"></div>
                  <div class="password_number_sj <%= myStamps[i].id %>"></div>
                </div>
                <div class="password_line_sj <%= myStamps[i].id %>">
                  <div class="password_number_sj <%= myStamps[i].id %>"></div>
                  <div class="password_number_sj <%= myStamps[i].id %>"></div>
                  <div class="password_number_sj <%= myStamps[i].id %>"></div>
                </div>
                <div class="password_line_sj <%= myStamps[i].id %>">
                  <div class="password_number_sj <%= myStamps[i].id %>"></div>
                  <div class="password_number_sj <%= myStamps[i].id %>"></div>
                  <div class="password_number_sj <%= myStamps[i].id %>"></div>
                </div>
                <div class="password_line_sj <%= myStamps[i].id %>">
                  <div class='password_cancel' id="password_cancel<%= myStamps[i].id %>">취소</div>
                  <div class="password_number_sj <%= myStamps[i].id %>"></div>
                  <div class='password_ok' id="password_ok<%= myStamps[i].id %>"></div>
                </div>

              </div>





              <div class='store_detail_sj' id="store_detail_sj<%= myStamps[i].id %>">
                <h2>상점 소개</h2>
                <p>저희 과일 가게는 항상 신선한 유기농 과일만을 공수해 옵니다. </p>
                <img src="/images/fruit.jpg" width="100%">

                <h2>위치</h2>
                <img src="/images/han.png" width="100%">
              </div>

              <div class='store_review_sj' id="store_review_sj<%= myStamps[i].id %>">
                <button class='review_button_sj' id="review_button_sj<%= myStamps[i].id %>">리뷰 등록</button>
                <% if(review) {%>
                  <% for(var j=0; j<review.length; j++) { %>
                    <% if(review[j].market_name == myStamps[i].market_name) {%>
                <div class="review_div_sj">
                  <div class="review_content_sj">
                    <div class="review_content_id_sj">
                      <b><%= review[j].user_id %></b>
                    </div>
                    <div class="review_content_date_sj"><%= review[j].date %></div>
                  </div>
                  <p><%= review[j].review %></p>
                </div>
                  <% } else {%>
                    <% } %>
                    <% } %>
                <% } else { %>
                  <div class='stamp_list'>
                    <div id="no_stamp">리뷰가 없습니다.</div>
                  </div>
                  <% } %>
              </div>

              <div class='review_write_sj' id="review_write_sj<%= myStamps[i].id %>">
                <textarea class="review_textarea<%= myStamps[i].id %>" rows="6"></textarea>
                <div class='write_button_div_sj' id="write_button_div_sj<%= myStamps[i].id %>">
                  <button class='write_cancel_sj' id="write_cancel_sj<%= myStamps[i].id %>" style="margin-left: 12.5%">취소</button>
                  <button class="write_ok_button<%= myStamps[i].id %>" style="margin-left:5%">등록</button>
                </div>
              </div>
            </div>

            <script>
            var number1 = "";
            $('#stamp_list<%= myStamps[i].id %>').click(function () {
              $('#selected_stamp<%= myStamps[i].id %>').css('display', 'block');
              $('.back_div<%= myStamps[i].id %>').css('display', 'block');
              $('#myStamp').css('display', 'none');
            });
            $('.back_div<%= myStamps[i].id %>').click(function () {
              $('#selected_stamp<%= myStamps[i].id %>').css('display', 'none');
              $('.back_div<%= myStamps[i].id %>').css('display', 'none');
              $('#myStamp').css('display', 'block');
            });


            var stamp_kind = '<%= myStamps[i].stamp_kind %>';
            var stamp_count<%= myStamps[i].id %> = parseInt('<%= myStamps[i].stamp_count %>');
            var stamp_standard<%= myStamps[i].id %> = '<%= myStamps[i].stamp_standard %>';
            var reset_stamp_count = 0;
            var new_stamp_count = parseInt(stamp_count<%= myStamps[i].id %>) + 1;
            console.log(stamp_count<%= myStamps[i].id %>);

            /* 스탬프 테마 적용 */
            if (stamp_kind == 1) {
              $('#stamp_sj<%= myStamps[i].id %>').css({ "background": "url(/images/backSample1.png)", 'background-repeat': 'no-repeat', 'background-size': 'cover' });
            }
            else if (stamp_kind == 2) {
              $('#stamp_sj<%= myStamps[i].id %>').css({ "background": "url(/images/backSample2.png)", 'background-repeat': 'no-repeat', 'background-size': 'cover' });
            }
            else if (stamp_kind == 3) {
              $('#stamp_sj<%= myStamps[i].id %>').css({ "background": "url(/images/backSample3.png)", 'background-repeat': 'no-repeat', 'background-size': 'cover' });
            }

            /*  적립해놓은 스탬프 색칠  */
            if (stamp_standard<%= myStamps[i].id %> == 5) {
              $('#fiveControls_sj<%= myStamps[i].id %>').css('display', 'table');
              for (var i = 0; i < stamp_count<%= myStamps[i].id %>; i++) {
                var check = document.getElementsByClassName('five_sj <%= myStamps[i].id %>')[i];
                check.style.backgroundColor = "#232323";
              }
            }
            else if (stamp_standard<%= myStamps[i].id %> == 10) {
              $('#tenControls_sj<%= myStamps[i].id %>').css('display', 'table');
              for (var i = 0; i < stamp_count<%= myStamps[i].id %>; i++) {
                var check = document.getElementsByClassName('ten_sj <%= myStamps[i].id %>')[i];
                check.style.backgroundColor = "#232323";
              }

            }

            /*  가게 상세정보 각 탭 및 버튼 클릭 이벤트  */
            $('#go_stamp_sj<%= myStamps[i].id %>').click(function () {
              $('#stamp_menu_sj<%= myStamps[i].id %>').show(200);
              $('#store_detail_sj<%= myStamps[i].id %>').hide(200);
              $('#store_review_sj<%= myStamps[i].id %>').hide(200);
              $('#review_write_sj<%= myStamps[i].id %>').hide(200);
              $('#password_number_div_sj<%= myStamps[i].id %>').hide(200);
            })
            $('#go_store_detail_sj<%= myStamps[i].id %>').click(function () {
              $('#stamp_menu_sj<%= myStamps[i].id %>').hide(200);
              $('#store_detail_sj<%= myStamps[i].id %>').show(200);
              $('#store_review_sj<%= myStamps[i].id %>').hide(200);
              $('#review_write_sj<%= myStamps[i].id %>').hide(200);
              $('#password_number_div_sj<%= myStamps[i].id %>').hide(200);
            })
            $('#go_store_review_sj<%= myStamps[i].id %>').click(function () {
              $('#stamp_menu_sj<%= myStamps[i].id %>').hide(200);
              $('#store_detail_sj<%= myStamps[i].id %>').hide(200);
              $('#store_review_sj<%= myStamps[i].id %>').show(200);
              $('#review_write_sj<%= myStamps[i].id %>').hide(200);
              $('#password_number_div_sj<%= myStamps[i].id %>').hide(200);
            })
            $('#review_button_sj<%= myStamps[i].id %>').click(function () {
              $('#store_review_sj<%= myStamps[i].id %>').hide(200);
              $('#review_write_sj<%= myStamps[i].id %>').show(200);
              $('#password_number_div_sj<%= myStamps[i].id %>').hide(200);
            })
            $('#write_cancel_sj<%= myStamps[i].id %>').click(function () {
              $('#store_review_sj<%= myStamps[i].id %>').show(200);
              $('#review_write_sj<%= myStamps[i].id %>').hide(200);
              $('#password_number_div_sj<%= myStamps[i].id %>').hide(200);
            })

            /*  좋아요  */
            var good<%= myStamps[i].id %> = document.getElementById('goodCount_sj<%= myStamps[i].id %>');
            $('#noGood_Button_sj<%= myStamps[i].id %>').click(function () {
              var data = {
                'market_name' : '<%= myStamps[i].market_name %>',
                'sijang_name' : '<%= myStamps[i].sijang_name %>'
              }

              $.ajax({
                type: 'post',
                url: '/like/<%= myStamps[i].id %>',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                cache: false,
                data: data,
                datatype: 'json',
                success: function(result) {
                  if (result['result']=='success'){
                    console.log(result);
                    $('#noGood_Button_sj<%= myStamps[i].id %>').css('display', 'none');
                    $('#yesGood_Button_sj<%= myStamps[i].id %>').css('display', 'block');
                    good<%= myStamps[i].id %>.innerHTML = result['like'];
                  }
                },
                error: function(error){
                  console.log('좋아요 실패');
                }
              });
            });
            $('#yesGood_Button_sj<%= myStamps[i].id %>').click(function () {
              var data = {
                'market_name' : '<%= myStamps[i].market_name %>',
                'sijang_name' : '<%= myStamps[i].sijang_name %>'
              }

              $.ajax({
                type: 'post',
                url: '/cancel_like/<%= myStamps[i].id %>',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                cache: false,
                data: data,
                datatype: 'json',
                success: function(result) {
                  if (result['result']=='success'){
                    $('#yesGood_Button_sj<%= myStamps[i].id %>').css('display', 'none');
                    $('#noGood_Button_sj<%= myStamps[i].id %>').css('display', 'block');
                    good<%= myStamps[i].id %>.innerHTML = result['like'];
                  }
                },
                error: function(error){
                  console.log('좋아요 취소 실패');
                }
              });
            });


            /* 비밀번호 키패드 섞는 함수 */
            var password_number_array_sj = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0'];

            function shuffle(a) {
              var j, x, i;
              for (i = a.length; i; i -= 1) {
                j = Math.floor(Math.random() * i);
                x = a[i - 1];
                a[i - 1] = a[j];
                a[j] = x;
              }
            }

            /* 리뷰 작성 버튼 */
            $('.write_ok_button<%= myStamps[i].id %>').click(function(){
              var user_id = '<%= myStamps[i].user_id %>';
              var market_name = '<%= myStamps[i].market_name %>';
              var text=$('.review_textarea<%= myStamps[i].id %>').val();
              var now = new Date();
              function leadingZeros(n, digits){
                var zero='';
                n = n.toString();
                if(n.length < digits){
                  for(i = 0 ; i < digits - n.length; i++){
                    zero += '0';
                  }
                }
                return zero + n;
              }
              var post_date = leadingZeros(now.getYear()-100,2)+ '-'+
                  leadingZeros(now.getMonth()+1,2)+'-' +
                  leadingZeros(now.getDate(),2);

              var sijang_name = '<%= myStamps[i].sijang_name %>';
              var data = {
                'market_name' : market_name,
                'user_id' : user_id,
                'date' : post_date,
                'review' : text,
                'sijang_name' : sijang_name
              }
              console.log(data);
              $.ajax({
                type: 'post',
                url: '/review',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                cache: false,
                data: data,
                datatype: 'json',
                success: function(result) {
                  if (result['result']=='success'){
                    // console.log(result);
                    alert('등록완료');
                    location.reload();
                  }
                  else{
                    console.log(result);
                    alert('등록실패1');
                  }
                },
                error: function(error){
                  alert('등록실패2');
                  location.reload();
                }
              });
            });


            /*  스탬프 적립  */
            $('#stamp_sj<%= myStamps[i].id %>').click(function () {
              var count = 0; //쿠폰 클릭시 이벤트 발생
              var result = 1;

              alert("시작");
              $('#stamp_menu_sj<%= myStamps[i].id %>').hide(200);
              $('#password_number_div_sj<%= myStamps[i].id %>').show(200);
              shuffle(password_number_array_sj);
              for (var i = 0; i < 10; i++) {
                document.getElementsByClassName('password_number_sj <%= myStamps[i].id %>')[i].innerHTML = password_number_array_sj[i];
               }
              $('.password_number_sj').off().on('click',function(){
                console.log('<%= myStamps[i].stamp_count %>')
                number1 += $(this).html();
                count++;
                console.log(number1);
                console.log("count"+count);
                if(count == 4){
                  count=0;
                  $.ajax({
                    type: 'POST',
                    url: '/stamp_count_password/<%= myStamps[i].id %>',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    cache: false,
                    dataType: 'json',
                    success: function (result) {
                      if (result['password'] == number1) {
                        console.log(result['password']);
                        alert('비밀번호 일치');

                        if (parseInt('<%= myStamps[i].stamp_standard %>') >= stamp_count<%= myStamps[i].id %> + 1) {
                          var data = {
                            'stamp_count': stamp_count<%= myStamps[i].id %> + 1,
                          };
                          console.log(data);
                          $.ajax({
                            type: 'POST',
                            url: '/aboutstamp_count/<%= myStamps[i].id %>',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            cache: false,
                            dataType: 'json',
                            data: data,
                            success: function (result) {
                              if (result['result'] == 'success') {
                                alert('스탬프추가');
                                number1 = "";
                                console.log(result);
                                stamp_count<%= myStamps[i].id %> = parseInt(result['new_stamp_count']);
                                if (parseInt('<%= myStamps[i].stamp_standard %>') == 5) {
                                  $('#fiveControls_sj<%= myStamps[i].id %>').css('display', 'table');
                                  for (var i = 0; i < parseInt(stamp_count<%= myStamps[i].id %>); i++) {
                                    var check = document.getElementsByClassName('five_sj <%= myStamps[i].id %>')[i];
                                    check.style.backgroundColor = "#232323";
                                  }
                                }
                                else if (parseInt('<%= myStamps[i].stamp_standard %>') == 10) {
                                  $('#tenControls_sj<%= myStamps[i].id %>').css('display', 'table');
                                  for (var i = 0; i < parseInt(stamp_count<%= myStamps[i].id %>); i++) {
                                    var check = document.getElementsByClassName('ten_sj <%= myStamps[i].id %>')[i];
                                    check.style.backgroundColor = "#232323";
                                  }
                                }

                                $('#stamp_count_vertical<%= myStamps[i].id %>').html('<p>'+ (parseInt(stamp_count<%= myStamps[i].id %>)) +' / <%= myStamps[i].stamp_standard %></p>');
                                $('#stamp_menu_sj<%= myStamps[i].id %>').show(200);
                                $('#password_number_div_sj<%= myStamps[i].id %>').hide(200);
                                // $(window).attr('location', '/myStamp');
                              }
                            },
                            error: function (error) {
                              console.log('error');
                            }
                          });
                        }
                        else {
                          var data = {
                            'stamp_count': reset_stamp_count,
                          };
                          $.ajax({
                            type: 'POST',
                            url: '/reset_aboutstamp_count/<%= myStamps[i].id %>',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            cache: false,
                            dataType: 'json',
                            data: data,
                            success: function (result) {
                              if (result['result'] == 'successs') {
                                alert('초기화');
                                number1 = "";
                                stamp_count<%= myStamps[i].id %> = 0;

                                if (parseInt('<%= myStamps[i].stamp_standard %>') == 5) {
                                  $('#fiveControls_sj<%= myStamps[i].id %>').css('display', 'table');
                                  for (var i = 0; i < 5; i++) {
                                    var check = document.getElementsByClassName('five_sj <%= myStamps[i].id %>')[i];
                                    check.style.backgroundColor = "rgb(202, 199, 199)";
                                  }
                                }
                                else if (parseInt('<%= myStamps[i].stamp_standard %>') == 10) {
                                  $('#tenControls_sj<%= myStamps[i].id %>').css('display', 'table');
                                  for (var i = 0; i < 10; i++) {
                                    var check = document.getElementsByClassName('ten_sj <%= myStamps[i].id %>')[i];
                                    check.style.backgroundColor = "rgb(202, 199, 199)";
                                  }
                                }

                                $('#stamp_count_vertical<%= myStamps[i].id %>').html('<p>'+ (reset_stamp_count) +' / <%= myStamps[i].stamp_standard %></p>');
                                $('#stamp_menu_sj<%= myStamps[i].id %>').show(200);
                                $('#password_number_div_sj<%= myStamps[i].id %>').hide(200);

                                // $(window).attr('location', '/myStamp');

                              }
                            },
                            error: function (error) {
                              console.log('error');
                            }
                          });
                        }

                        //
                      } else {
                        console.log(result['password']);
                        console.log(number1);
                        alert('비밀번호가 일치하지 않습니다. 다시 입력해주세요.');
                        number1 = "";

                      }
                    },
                    error: function (error) {
                      console.log('error');
                    }
                  });

                }
              })

            });

            /* 비밀번호 키패드에서 취소 버튼 눌렀을 때 */
            $('#password_cancel<%= myStamps[i].id %>').click(function(){
              $('#password_number_div_sj<%= myStamps[i].id %>').hide(200);
              $('#stamp_menu_sj<%= myStamps[i].id %>').show(200);
            });

            // function stamp_count_password(number4) {
            //   // var data = {
            //   //   'market_name': market_name,
            //   //   'user_id': user_id
            //   // }
            //   $.ajax({
            //     type: 'POST',
            //     url: '/stamp_count_password/<%= myStamps[i].id %>',
            //     contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            //     cache: false,
            //     dataType: 'json',
            //     success: function (result) {
            //       if (result['password'] == number4) {
            //         console.log(result['password']);
            //         alert('비밀번호 일치');
            //         //coupon_count();
            //       } else {
            //         console.log(result['password']);
            //         alert('비밀번호 불일치');
            //         //location.reload();
            //       }
            //     },
            //     error: function (error) {
            //       console.log('error');
            //     }
            //   });
            // }
            // function coupon_count() {
            //   if (parseInt(stamp_standard) >= parseInt(new_stamp_count)) {
            //     // var data = {
            //     //   'stamp_count': new_stamp_count,
            //     //   'market_name': market_name,
            //     //   'user_id': user_id
            //     // };
            //     $.ajax({
            //       type: 'POST',
            //       url: '/aboutstamp_count',
            //       contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            //       cache: false,
            //       dataType: 'json',
            //       data: data,
            //       success: function (result) {
            //         if (result['result'] == 'success') {
            //           alert('스탬프추가');
            //           $(window).attr('location', '/myStamp');
            //         }
            //       },
            //       error: function (error) {
            //         console.log('error');
            //       }
            //     });
            //   }
            //   else {
            //     // var data = {
            //     //   'stamp_count': reset_stamp_count,
            //     //   'market_name': market_name,
            //     //   'user_id': user_id
            //     // };
            //     $.ajax({
            //       type: 'POST',
            //       url: '/reset_aboutstamp_count',
            //       contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            //       cache: false,
            //       dataType: 'json',
            //       data: data,
            //       success: function (result) {
            //         if (result['result'] == 'successs') {
            //           alert('초기화');
            //           $(window).attr('location', '/myStamp');
            //         }
            //       },
            //       error: function (error) {
            //         console.log('error');
            //       }
            //     });
            //   }
            // }

            </script>
            <% } %>
            <% } %>

            <div id="nav_sj">
                <div id="home_sj">
                    <img src="/images/home.png" width="40%">
                    <p>홈</p></div>
                <div id="coupon_sj">
                    <img src="/images/coupon.png" width="40%">
                    <p>쿠폰</p></div>
                <div id="location_sj">
                    <img src="/images/location.png" width="40%">
                    <p>주변 가맹점</p></div>
                <div id="myStamp_sj">
                    <img src="/images/stamp2.png" width="40%">
                    <p id="nav_text">내 스탬프</p></div>
                <div id="my_sj">
                    <img src="/images/my.png" width="40%">
                    <p>MyPage</p></div>
            </div>

                      <script>
                      $('#home_sj').click(function () {
                        location.href = "/main";
                      })
                      $('#coupon_sj').click(function () {
                        location.href = "/coupon";
                      })
                      </script>

                      <!--stamp_kind 불러와야함-->
                      <!--stamp_count 불러와야함-->
                      <!--stamp_standard 불러와야함-->
                      <!-- <script src="/javascripts/stamp.js"></script> -->
                      <!-- stamp 기능적인 부분 js-->
                      <!-- <script src="/javascripts/myStamp.js"></script> -->
                      <!-- myStamp 메뉴 관련 js -->


                    </body>

                    </html>
